//Variáveis
@mixin borderRadius($val) {
  border-radius: $val;
  -webkit-border-radius: $val;
}
@mixin borderRadiusTop($val){
  -webkit-border-top-left-radius: $val;
  -webkit-border-top-right-radius: $val;
  -moz-border-radius-topleft: $val;
  -moz-border-radius-topright: $val;
  border-top-left-radius: $val;
  border-top-right-radius: $val;
}
@mixin borderRadiusBottom($val){
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

@mixin boxShadow($x, $y, $blur, $cor) {
  box-shadow: $x $y $blur $cor;
  -webkit-box-shadow: $x $y $blur $cor;
  -moz-box-shadow: $x $y $blur $cor;
  -o-box-shadow: $x $y $blur $cor;
}

@mixin gradiente($tipo, $cor1, $cor2) {
  background-image: linear-gradient($tipo, $cor1, $cor2);
  background-image: -webkit-linear-gradient($tipo, $cor1, $cor2);
  background-image: -moz-linear-gradient($tipo, $cor1, $cor2);
  background-image: -o-linear-gradient($tipo, $cor1, $cor2);
  background-image: -ms-linear-gradient($tipo, $cor1, $cor2);
}
@mixin transicao($tipo, $tempo){
  -webkit-transition: $tempo $tipo;
  -moz-transition: $tempo $tipo;
  -o-transition: $tempo $tipo;
  transition: $tempo $tipo;
}
@mixin rotacionar($val){
  -ms-transform: rotate($val);
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

//Componentes
.wrap{
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  @include grid-breakpoint(phone, tablet){
    padding: 0 10px;
  }
}

.fl{
  display: inline;
  float: left;
}
.fr{
  display: inline;
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clearfix {
  height: 100%;
}

//animação
@-webkit-keyframes giga {
  0%{
    text-shadow: 0px 0px 0px #fff;
  }
  50%{
    text-shadow: 0px 0px 5px #fff;
  }
  100%{
    text-shadow: 0px 0px 0px #fff;
  }
} 

//Modal
.modal{
    background: rgba(0, 0, 0, 0.9);
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    .close{
      color: #ffffff;
      font-family: cursive;
      font-size: 20px;
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }